@model IEnumerable<ebook2.Models.Issurance>

@{
    ViewData["Title"] = "Index";
}

<h2>Issurances</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Book Title
            </th>
            <th>
                Last Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Redemption.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IssuranceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IssuranceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IssuranceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
